<!DOCTYPE html>
<html>
<head>
    <title>后台管理 - {{.BlogTitle}}</title>
    <link rel="stylesheet" href="/static/semantic/packaged/css/semantic.css"/>
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
    <script type="text/javascript" src="/static/semantic/packaged/javascript/semantic.js"></script>
</head>
<body>
    <div>
        <div class="ui menu">
            <a class="active item">
                <i class="home icon"></i> 主页
            </a>
            <a class="item">
                <i class="mail icon"></i> 消息
            </a>
            <div class="right menu">
                <a class="popup designer icon item" title="设计模式">
                  <i class="basic paint icon"></i>
                </a>
                <a class="popup developer icon item" title="开发模式">
                  <i class="terminal icon"></i>
                </a>

                <div class="ui dropdown item">
                    语言 <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item">英文</a>
                        <a class="item">中文</a>
                        <a class="item">日文</a>
                    </div>
                </div>
            </div>
        </div>

    <div class="ui vertical menu">
      <div class="item">
          <div class="ui input"><input type="text" placeholder="搜索中..."></div>
      </div>
      <div class="item">
          <i class="home icon"></i> 主页
          <div class="menu">
              <a class="active item">搜索中</a>
              <a class="item">添加</a>
              <a class="item">删除</a>
          </div>
      </div>
      <a class="item">
          <i class="grid layout icon"></i> 浏览
      </a>
      <a class="item">
          <i class="mail icon"></i> 消息
      </a>
      <div class="ui dropdown item">
          More <i class="dropdown icon"></i>
          <div class="menu">
              <a class="item"><i class="edit icon"></i>编辑个人信息</a>
              <a class="item"><i class="globe icon"></i>选择语言</a>
              <a class="item"><i class="settings icon"></i>账户设置</a>
          </div>
      </div>
  </div>
</div>
</body>
<script type="text/javascript">
    $(document).ready(function() {
        $('.ui.dropdown')
          .dropdown({
            on: 'hover'
          });
    });
</script>
</html>